RealEstate/Service References/UserEndPoint/UserEndPointService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://endpoints.realestate.com.et/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="UserEndPointService" targetNamespace="http://endpoints.realestate.com.et/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema targetNamespace="http://endpoints.realestate.com.et/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="paginationDto" type="tns:paginationDto" />
      <xs:element name="responseDto" type="tns:responseDto" />
      <xs:element name="userDto" type="tns:userDto" />
      <xs:element name="userListResponseDto" type="tns:userListResponseDto" />
      <xs:complexType name="authDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="authResponseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element name="status" type="xs:boolean" />
          <xs:element minOccurs="0" name="token" type="xs:string" />
          <xs:element minOccurs="0" name="type" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="responseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
          <xs:element minOccurs="0" name="status" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="userDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="company" type="xs:string" />
          <xs:element minOccurs="0" name="createdat" type="xs:dateTime" />
          <xs:element minOccurs="0" name="email" type="xs:string" />
          <xs:element minOccurs="0" name="fname" type="xs:string" />
          <xs:element minOccurs="0" name="id" type="xs:long" />
          <xs:element minOccurs="0" name="lname" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="phone" type="xs:string" />
          <xs:element name="status" type="xs:boolean" />
          <xs:element minOccurs="0" name="type" type="xs:string" />
          <xs:element minOccurs="0" name="username" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="paginationDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="count" type="xs:int" />
          <xs:element minOccurs="0" name="max" type="xs:int" />
          <xs:element minOccurs="0" name="start" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="userListResponseDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="paginationDto" type="tns:paginationDto" />
          <xs:element minOccurs="0" name="responseDto" type="tns:responseDto" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="userDtoList" nillable="true" type="tns:userDto" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="auth">
    <wsdl:part name="AuthDto" type="tns:authDto" />
  </wsdl:message>
  <wsdl:message name="createUserResponse">
    <wsdl:part name="return" type="tns:responseDto" />
  </wsdl:message>
  <wsdl:message name="changePasswordUserResponse">
    <wsdl:part name="return" type="tns:responseDto" />
  </wsdl:message>
  <wsdl:message name="deactivateUser">
    <wsdl:part name="userId" type="xsd:long" />
    <wsdl:part name="token" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="listUserResponse">
    <wsdl:part name="return" type="tns:userListResponseDto" />
  </wsdl:message>
  <wsdl:message name="meResponse">
    <wsdl:part name="return" type="tns:userDto" />
  </wsdl:message>
  <wsdl:message name="changePasswordUser">
    <wsdl:part name="newPassword" type="xsd:string" />
    <wsdl:part name="token" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateUser">
    <wsdl:part name="userDto" type="tns:userDto" />
    <wsdl:part name="token" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="activateUser">
    <wsdl:part name="userId" type="xsd:long" />
    <wsdl:part name="token" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="findById">
    <wsdl:part name="userId" type="xsd:long" />
    <wsdl:part name="token" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="findByIdResponse">
    <wsdl:part name="return" type="tns:userDto" />
  </wsdl:message>
  <wsdl:message name="activateUserResponse">
    <wsdl:part name="return" type="tns:responseDto" />
  </wsdl:message>
  <wsdl:message name="authResponse">
    <wsdl:part name="return" type="tns:authResponseDto" />
  </wsdl:message>
  <wsdl:message name="listUser">
    <wsdl:part name="paginationDto" type="tns:paginationDto" />
    <wsdl:part name="token" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="updateUserResponse">
    <wsdl:part name="return" type="tns:responseDto" />
  </wsdl:message>
  <wsdl:message name="deactivateUserResponse">
    <wsdl:part name="return" type="tns:responseDto" />
  </wsdl:message>
  <wsdl:message name="deleteUserResponse">
    <wsdl:part name="return" type="tns:responseDto" />
  </wsdl:message>
  <wsdl:message name="deleteUser">
    <wsdl:part name="userId" type="xsd:long" />
    <wsdl:part name="token" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="me">
    <wsdl:part name="token" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="createUser">
    <wsdl:part name="userDto" type="tns:userDto" />
  </wsdl:message>
  <wsdl:portType name="UserEndPoint">
    <wsdl:operation name="auth">
      <wsdl:input name="auth" message="tns:auth" />
      <wsdl:output name="authResponse" message="tns:authResponse" />
    </wsdl:operation>
    <wsdl:operation name="activateUser">
      <wsdl:input name="activateUser" message="tns:activateUser" />
      <wsdl:output name="activateUserResponse" message="tns:activateUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="findById">
      <wsdl:input name="findById" message="tns:findById" />
      <wsdl:output name="findByIdResponse" message="tns:findByIdResponse" />
    </wsdl:operation>
    <wsdl:operation name="deactivateUser">
      <wsdl:input name="deactivateUser" message="tns:deactivateUser" />
      <wsdl:output name="deactivateUserResponse" message="tns:deactivateUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="listUser">
      <wsdl:input name="listUser" message="tns:listUser" />
      <wsdl:output name="listUserResponse" message="tns:listUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="changePasswordUser">
      <wsdl:input name="changePasswordUser" message="tns:changePasswordUser" />
      <wsdl:output name="changePasswordUserResponse" message="tns:changePasswordUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <wsdl:input name="updateUser" message="tns:updateUser" />
      <wsdl:output name="updateUserResponse" message="tns:updateUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input name="deleteUser" message="tns:deleteUser" />
      <wsdl:output name="deleteUserResponse" message="tns:deleteUserResponse" />
    </wsdl:operation>
    <wsdl:operation name="me">
      <wsdl:input name="me" message="tns:me" />
      <wsdl:output name="meResponse" message="tns:meResponse" />
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <wsdl:input name="createUser" message="tns:createUser" />
      <wsdl:output name="createUserResponse" message="tns:createUserResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserEndPointServiceSoapBinding" type="tns:UserEndPoint">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="auth">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="auth">
        <soap:body use="literal" namespace="http://endpoints.realestate.com.et/" />
      </wsdl:input>
      <wsdl:output name="authResponse">
        <soap:body use="literal" namespace="http://endpoints.realestate.com.et/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="activateUser">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="activateUser">
        <soap:body use="literal" namespace="http://endpoints.realestate.com.et/" />
      </wsdl:input>
      <wsdl:output name="activateUserResponse">
        <soap:body use="literal" namespace="http://endpoints.realestate.com.et/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findById">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="findById">
        <soap:body use="literal" namespace="http://endpoints.realestate.com.et/" />
      </wsdl:input>
      <wsdl:output name="findByIdResponse">
        <soap:body use="literal" namespace="http://endpoints.realestate.com.et/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deactivateUser">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="deactivateUser">
        <soap:body use="literal" namespace="http://endpoints.realestate.com.et/" />
      </wsdl:input>
      <wsdl:output name="deactivateUserResponse">
        <soap:body use="literal" namespace="http://endpoints.realestate.com.et/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listUser">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="listUser">
        <soap:body use="literal" namespace="http://endpoints.realestate.com.et/" />
      </wsdl:input>
      <wsdl:output name="listUserResponse">
        <soap:body use="literal" namespace="http://endpoints.realestate.com.et/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="changePasswordUser">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="changePasswordUser">
        <soap:body use="literal" namespace="http://endpoints.realestate.com.et/" />
      </wsdl:input>
      <wsdl:output name="changePasswordUserResponse">
        <soap:body use="literal" namespace="http://endpoints.realestate.com.et/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="updateUser">
        <soap:body use="literal" namespace="http://endpoints.realestate.com.et/" />
      </wsdl:input>
      <wsdl:output name="updateUserResponse">
        <soap:body use="literal" namespace="http://endpoints.realestate.com.et/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="deleteUser">
        <soap:body use="literal" namespace="http://endpoints.realestate.com.et/" />
      </wsdl:input>
      <wsdl:output name="deleteUserResponse">
        <soap:body use="literal" namespace="http://endpoints.realestate.com.et/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="me">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="me">
        <soap:body use="literal" namespace="http://endpoints.realestate.com.et/" />
      </wsdl:input>
      <wsdl:output name="meResponse">
        <soap:body use="literal" namespace="http://endpoints.realestate.com.et/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createUser">
      <soap:operation soapAction="" style="rpc" />
      <wsdl:input name="createUser">
        <soap:body use="literal" namespace="http://endpoints.realestate.com.et/" />
      </wsdl:input>
      <wsdl:output name="createUserResponse">
        <soap:body use="literal" namespace="http://endpoints.realestate.com.et/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserEndPointService">
    <wsdl:port name="UserEndPointPort" binding="tns:UserEndPointServiceSoapBinding">
      <soap:address location="http://172.17.221.193:8080/RealEstateBroker/UserEndPoint" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>